<footer class="footer-nav">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-item">
                <h4>ATS Team</h4>
                <ul>
                    <li><a href="https://www.google.com/">About US</a></li>
                    <li><a href="https://www.google.com/">Our Services</a></li>
                    <li><a href="https://www.google.com/">Privacy Policy</a></li>
                    <li><a href="https://www.google.com/">Affiliate Program</a></li>
                </ul>
            </div>

            <div class="footer-item">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="https://www.google.com/">FAQs</a></li>
                    <li><a href="https://www.google.com/">Buy Couses</a></li>
                    <li><a href="https://www.google.com/">Returns</a></li>
                    <li><a href="https://www.google.com/">Payment options</a></li>
                </ul>
            </div>

            <div class="footer-item">
                <h4>Online Website</h4>
                <ul>
                    <li><a href="https://www.google.com/">Font - end</a></li>
                    <li><a href="https://www.google.com/">Back - end</a></li>
                    <li><a href="https://www.google.com/">Management</a></li>
                    <li><a href="https://www.google.com/">Blockchain</a></li>
                </ul>
            </div>

            <div class="footer-item">
                <h4>Follow US</h4>
                <div class="item-links">
                    <a href="https://www.facebook.com/VNUHCM.US">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="https://www.facebook.com/VNUHCM.US">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://www.facebook.com/VNUHCM.US">
                        <i class="fa-brands fa-telegram"></i>
                    </a>

                    <a href="https://www.youtube.com/channel/UCkV-dHw9AziGJ9kEs9_XCKA">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>