<div class="row">
    <div class="col-12 carousel-container">
        <div>
            <div id="carouselExampleIndicators" class="carousel slide position-relative" data-ride="carousel"
                data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active position-relative">
                        <div class="carousel-img">
                            <img src="https://ncube-digest.com/wp-content/uploads/2020/11/review-of-nodejs.jpg"
                                class="d-block w-100" alt="Meo co anh">
                        </div>
                        <div class="carousel-title position-absolute">
                            <h2>ATS</h2>
                            <p>
                                Các khóa học giá thấp cỡ ₫ 279.000. Giảm thêm 15% trên giá khuyến mại với mã GIFT15 đến
                                hết ngày 15/12.
                                Các khóa học giá thấp cỡ ₫ 279.000. Giảm thêm 15% trên giá khuyến mại với mã GIFT15 đến
                                hết ngày 15/12.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item position-relative">
                        <div class="carousel-img">
                            <img src="https://ncube-digest.com/wp-content/uploads/2020/11/review-of-nodejs.jpg"
                                class="d-block w-100" alt="Meo co anh">
                        </div>
                        <div class="carousel-title position-absolute">
                            <h2>ATS</h2>
                            <p>
                                Các khóa học giá thấp cỡ ₫ 279.000. Giảm thêm 15% trên giá khuyến mại với mã GIFT15 đến
                                hết ngày 15/12.
                                Các khóa học giá thấp cỡ ₫ 279.000. Giảm thêm 15% trên giá khuyến mại với mã GIFT15 đến
                                hết ngày 15/12.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item position-relative">
                        <div class="carousel-img">
                            <img src="https://ncube-digest.com/wp-content/uploads/2020/11/review-of-nodejs.jpg"
                                class="d-block w-100" alt="Meo co anh">
                        </div>
                        <div class="carousel-title position-absolute">
                            <h2>ATS</h2>
                            <p>
                                Các khóa học giá thấp cỡ ₫ 279.000. Giảm thêm 15% trên giá khuyến mại với mã GIFT15 đến
                                hết ngày 15/12.
                                Các khóa học giá thấp cỡ ₫ 279.000. Giảm thêm 15% trên giá khuyến mại với mã GIFT15 đến
                                hết ngày 15/12.
                            </p>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
                {{!-- <div class="carousel-heading position-absolute">
                    <h2>ATS Courses</h2>
                    <p>Các khóa học giá thấp cỡ ₫ 279.000. Giảm thêm 15% trên giá khuyến mại với mã GIFT15 đến hết ngày
                        15/12.
                        Các khóa học giá thấp cỡ ₫ 279.000. Giảm thêm 15% trên giá khuyến mại với mã GIFT15 đến hết ngày
                        15/12.
                        Các khóa học giá thấp cỡ ₫ 279.000. Giảm thêm 15% trên giá khuyến mại với mã GIFT15 đến hết ngày
                        15/12.
                    </p>
                </div> --}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="reason-courses col-12">
        <h2 class="text-center font-weight-bold">Vì sao nên học trên ATS</h2>
        <ul class="list-unstyled d-flex align-items-center justify-content-center">
            <div class="col-4">
                <li>
                    <div>
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <span>
                        Học các kỹ năng có nhu cầu lớn với hơn 213000 khóa học video
                    </span>
                </li>
            </div>
            <div class="col-4">
                <li>
                    <div><i class="fa-solid fa-star"></i></div>
                    <span>
                        Chọn khóa học do chuyên gia trong thế giới thực giảng dạy
                    </span>
                </li>
            </div>
            <div class="col-4">
                <li>
                    <div><i class="fa-solid fa-gauge"></i></div>
                    <span>
                        Học theo tốc độ phù hợp với bạn, với quyền truy cập suốt đời trên thiết bị di động và máy tính
                        để bàn
                    </span>
                </li>
            </div>
        </ul>
    </div>
</div>
<div class="courses-wrapper">
    <div class="row d-flex outstanding-courses">
        <h2>Các khóa học nổi bật nhất trong tuần qua</h2>
        <div class="course-container d-flex col-12 flex-wrap">
            {{#each this.courses}}
                <div class="col-md-3 col-sm-6">
                    <div class="card zoom position-relative">
                        <a href="#">
                            <img src="{{avatar}}"
                                class="card-img-top" alt="Day la khoa hoc">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">{{name_course}}</a></h5>
                            <div class="card-info">
                                <div class="card-cate">IT</div>
                                <div class="card-author">Huynh Ngoc Son</div>
                                <div class="card-vote">
                                    <span class="card-num-star">4.9</span>
                                    <div class="card-stars">
                                        <span>
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                    <span class="card-num-members">
                                        (999)
                                    </span>
                                </div>
                                <div class="card-price">
                                    đ <span>{{tuition_fee}}</span>
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                        </div>
                        <span class="badge-course">Bán chạy nhất</span>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="row d-flex flex-column outstanding-courses">
        <h2>Các khóa học được xem nhiều nhất</h2>
        <div id="carouselExampleControls" class="carousel slide col-12 d-small-none" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="course-container d-flex">
                        <div class="col-2-5">
                            <div class="card zoom position-relative">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                                <span class="badge-course">Mới nhất</span>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="course-container d-flex">
                        <div class="col-2-5">
                            <div class="card zoom position-relative">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
         <div class="course-container d-flex d-md-none flex-wrap">
            <div class="col-6">
                <div class="card zoom position-relative">
                    <a href="#">
                        <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                            class="card-img-top" alt="Day la khoa hoc">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                        <div class="card-info">
                            <div class="card-cate">IT</div>
                            <div class="card-author">Huynh Ngoc Son</div>
                            <div class="card-vote">
                                <span class="card-num-star">4.9</span>
                                <div class="card-stars">
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="card-num-members">
                                    (999)
                                </span>
                            </div>
                            <div class="card-price">
                                đ <span>1.999.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                    </div>
                    <span class="badge-course">Mới nhất</span>
                </div>
            </div>
            <div class="col-6">
                <div class="card zoom">
                    <a href="#">
                        <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                            class="card-img-top" alt="Day la khoa hoc">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                        <div class="card-info">
                            <div class="card-cate">IT</div>
                            <div class="card-author">Huynh Ngoc Son</div>
                            <div class="card-vote">
                                <span class="card-num-star">4.9</span>
                                <div class="card-stars">
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="card-num-members">
                                    (999)
                                </span>
                            </div>
                            <div class="card-price">
                                đ <span>1.999.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card zoom">
                    <a href="#">
                        <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                            class="card-img-top" alt="Day la khoa hoc">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                        <div class="card-info">
                            <div class="card-cate">IT</div>
                            <div class="card-author">Huynh Ngoc Son</div>
                            <div class="card-vote">
                                <span class="card-num-star">4.9</span>
                                <div class="card-stars">
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="card-num-members">
                                    (999)
                                </span>
                            </div>
                            <div class="card-price">
                                đ <span>1.999.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card zoom">
                    <a href="#">
                        <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                            class="card-img-top" alt="Day la khoa hoc">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                        <div class="card-info">
                            <div class="card-cate">IT</div>
                            <div class="card-author">Huynh Ngoc Son</div>
                            <div class="card-vote">
                                <span class="card-num-star">4.9</span>
                                <div class="card-stars">
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="card-num-members">
                                    (999)
                                </span>
                            </div>
                            <div class="card-price">
                                đ <span>1.999.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card zoom">
                    <a href="#">
                        <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                            class="card-img-top" alt="Day la khoa hoc">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                        <div class="card-info">
                            <div class="card-cate">IT</div>
                            <div class="card-author">Huynh Ngoc Son</div>
                            <div class="card-vote">
                                <span class="card-num-star">4.9</span>
                                <div class="card-stars">
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="card-num-members">
                                    (999)
                                </span>
                            </div>
                            <div class="card-price">
                                đ <span>1.999.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex flex-column outstanding-courses">
        <h2>Các khóa học được xem nhiều nhất</h2>
        <div id="carouselExampleControls2" class="carousel slide col-12 d-small-none" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="course-container d-flex">
                        <div class="col-2-5">
                            <div class="card zoom position-relative">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                                <span class="badge-course">Mới nhất</span>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="course-container d-flex">
                        <div class="col-2-5">
                            <div class="card zoom position-relative">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-5">
                            <div class="card zoom">
                                <a href="#">
                                    <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                                        class="card-img-top" alt="Day la khoa hoc">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                                    <div class="card-info">
                                        <div class="card-cate">IT</div>
                                        <div class="card-author">Huynh Ngoc Son</div>
                                        <div class="card-vote">
                                            <span class="card-num-star">4.9</span>
                                            <div class="card-stars">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                            <span class="card-num-members">
                                                (999)
                                            </span>
                                        </div>
                                        <div class="card-price">
                                            đ <span>1.999.000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls2"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleControls2"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
         <div class="course-container d-flex d-md-none flex-wrap">
            <div class="col-6">
                <div class="card zoom position-relative">
                    <a href="#">
                        <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                            class="card-img-top" alt="Day la khoa hoc">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                        <div class="card-info">
                            <div class="card-cate">IT</div>
                            <div class="card-author">Huynh Ngoc Son</div>
                            <div class="card-vote">
                                <span class="card-num-star">4.9</span>
                                <div class="card-stars">
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="card-num-members">
                                    (999)
                                </span>
                            </div>
                            <div class="card-price">
                                đ <span>1.999.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                    </div>
                    <span class="badge-course">Mới nhất</span>
                </div>
            </div>
            <div class="col-6">
                <div class="card zoom">
                    <a href="#">
                        <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                            class="card-img-top" alt="Day la khoa hoc">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                        <div class="card-info">
                            <div class="card-cate">IT</div>
                            <div class="card-author">Huynh Ngoc Son</div>
                            <div class="card-vote">
                                <span class="card-num-star">4.9</span>
                                <div class="card-stars">
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="card-num-members">
                                    (999)
                                </span>
                            </div>
                            <div class="card-price">
                                đ <span>1.999.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card zoom">
                    <a href="#">
                        <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                            class="card-img-top" alt="Day la khoa hoc">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                        <div class="card-info">
                            <div class="card-cate">IT</div>
                            <div class="card-author">Huynh Ngoc Son</div>
                            <div class="card-vote">
                                <span class="card-num-star">4.9</span>
                                <div class="card-stars">
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="card-num-members">
                                    (999)
                                </span>
                            </div>
                            <div class="card-price">
                                đ <span>1.999.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card zoom">
                    <a href="#">
                        <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                            class="card-img-top" alt="Day la khoa hoc">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                        <div class="card-info">
                            <div class="card-cate">IT</div>
                            <div class="card-author">Huynh Ngoc Son</div>
                            <div class="card-vote">
                                <span class="card-num-star">4.9</span>
                                <div class="card-stars">
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="card-num-members">
                                    (999)
                                </span>
                            </div>
                            <div class="card-price">
                                đ <span>1.999.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card zoom">
                    <a href="#">
                        <img src="https://letdiv.com/wp-content/uploads/2021/05/javascript-la-gi.jpg"
                            class="card-img-top" alt="Day la khoa hoc">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Javascript cho người mới bắt đầu 2021</a></h5>
                        <div class="card-info">
                            <div class="card-cate">IT</div>
                            <div class="card-author">Huynh Ngoc Son</div>
                            <div class="card-vote">
                                <span class="card-num-star">4.9</span>
                                <div class="card-stars">
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="card-num-members">
                                    (999)
                                </span>
                            </div>
                            <div class="card-price">
                                đ <span>1.999.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-course">Học luôn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="top-categories">
    <h2>Các thể loại hàng đầu</h2>
    <div class="row">
        <div class="top-categories-wrapper col-12 d-flex flex-wrap">
            <div class="col-4">
                <a href="#" class="top-category-card">
                    <div class="category-card-img zoom_rotate">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/318966911_1911452839196458_8830828404539998369_n.png?stp=dst-png_p206x206&_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_ohc=lniJDnFlN3YAX_xLU4B&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTQaK9efFZehtuubjqiFDzWgxVWdu8EBdHDtowJSFk38w&oe=63C65E38"
                            alt="Phát triển">
                    </div>
                    <div class="category-title">
                        <span>Phát triển</span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="#" class="top-category-card">
                    <div class="category-card-img zoom_rotate">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/318966911_1911452839196458_8830828404539998369_n.png?stp=dst-png_p206x206&_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_ohc=lniJDnFlN3YAX_xLU4B&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTQaK9efFZehtuubjqiFDzWgxVWdu8EBdHDtowJSFk38w&oe=63C65E38"
                            alt="Phát triển">
                    </div>
                    <div class="category-title">
                        <span>Phát triển</span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="#" class="top-category-card">
                    <div class="category-card-img zoom_rotate">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/318966911_1911452839196458_8830828404539998369_n.png?stp=dst-png_p206x206&_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_ohc=lniJDnFlN3YAX_xLU4B&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTQaK9efFZehtuubjqiFDzWgxVWdu8EBdHDtowJSFk38w&oe=63C65E38"
                            alt="Phát triển">
                    </div>
                    <div class="category-title">
                        <span>Phát triển</span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="#" class="top-category-card">
                    <div class="category-card-img zoom_rotate">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/318966911_1911452839196458_8830828404539998369_n.png?stp=dst-png_p206x206&_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_ohc=lniJDnFlN3YAX_xLU4B&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTQaK9efFZehtuubjqiFDzWgxVWdu8EBdHDtowJSFk38w&oe=63C65E38"
                            alt="Phát triển">
                    </div>
                    <div class="category-title">
                        <span>Phát triển</span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="#" class="top-category-card">
                    <div class="category-card-img zoom_rotate">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/318966911_1911452839196458_8830828404539998369_n.png?stp=dst-png_p206x206&_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_ohc=lniJDnFlN3YAX_xLU4B&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTQaK9efFZehtuubjqiFDzWgxVWdu8EBdHDtowJSFk38w&oe=63C65E38"
                            alt="Phát triển">
                    </div>
                    <div class="category-title">
                        <span>Phát triển</span>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="#" class="top-category-card">
                    <div class="category-card-img zoom_rotate">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/318966911_1911452839196458_8830828404539998369_n.png?stp=dst-png_p206x206&_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_ohc=lniJDnFlN3YAX_xLU4B&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTQaK9efFZehtuubjqiFDzWgxVWdu8EBdHDtowJSFk38w&oe=63C65E38"
                            alt="Phát triển">
                    </div>
                    <div class="category-title">
                        <span>Phát triển</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>